/********************************** Tag Selectors ************************************/ 
body {
  background: #a1e6e3;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 200px;
}
/********************************** Class Selectors ************************************/
.circular {
  border-radius: 100%;
}
/********************************** ID Selectors ************************************/
